
.Header {
  a {
    font-family: "Playfair Display";
    font-size: 18px;
    color: wheat;
    font-weight: bold;
    
  }
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80px;
  align-items: center;
  //background: #61dafb;
  //justify-content: space-around;
  .BookButton {
    display: flex;
    width: 10%;
  }
}

.CenterColumn {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  left: 80px;

  .MinWidthColumn {

    //align-self: center;
    display: flex;
    width: 60%;
    justify-content: space-around;
    //justify-items: center;
  }
}

