.MainPage{
  flex: 1 1 auto;
}

.All{
  height: 3000px;
}

.Return{
  height: 70px;
  width: 70px;
  border-radius: 60%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: transparentize($color: white, $amount: 0.7);
  //z-index: 1;
}
