.MainPage{
  //height: 1000px;
  flex: 1 1 auto;
}

.All{
  height: 10000px;
}

.Return{
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  //z-index: 1;
  color: #61dafb;
}
