@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//new styles

.WrapPage{
  display: flex;
  min-height: 100%;
  //background: blueviolet;
  flex-direction: column;
  background-image: url(/assets/main_page/main_background.jpg),
                    url(/assets/main_page/5f5a03b9351d9.png),
                    url(/assets/main_page/5fec644e710b9.png);
  background-size: auto 950px, auto, auto;
  background-repeat: no-repeat;
  background-position: top, center 945px, center 690px;
}